
    <div class="jumbotron">
        <h1>Movie Finder</h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Huijie's CPA, a Movie Finder.
    </p>
    
    <% if (true) {%>  
        <form method="post" action="/movies/bySubject">
            Show Movies by Year: 
              <input type="number" name="year" 
                     placeholder="e.g. 1990">
            <input type="submit">
        </form>
        <br>

        <form method="post" action="/movies/byMovieName">
            Show Movies by keyword in title: 
              <input type="text" name="title" 
                     placeholder="e.g. White">
            <input type="submit">
        </form>
        <br>
    <% } %>


