    <div class="row">

        <div class="jumbotron d-flex justify-content-center">
            <h1 class="text-primary">Simple Movie Finder</h1>
        </div>

    <div>
        <p class="border bg-light p-4 m-3">
            This is a simple movie finder. It has a large movie dataset (around 26000 movies) and 
            you could easily searching movie by either year or keyword. Have fun!
        </p>
    </div>

   <div class="row m-3">
       <div class="col p-3 justify-content-center">
        <form method="post" action="/moviess/byYear">
            Find Movies in a specific Year(1990-2018): 
            <br>
              <input type="number" name="year" 
                     placeholder="e.g. 1990">
            <br>
            <input type="submit" class="btn btn-secondary">
        </form>
       </div>
       <div class="col p-3 justify-content-center">
        <form method="post" action="/movies/byMovieName">
            Find Movies by a keyword
            <br>
              <input type="text" name="title" 
                     placeholder="e.g. Love">
            <br>
            <input type="submit" class="btn btn-secondary ">
        </form>

       </div>


   </div>
   <div class="m-1 justify-content-center">
        <!--
            img src="public/images/background.jpg" alt="movie background">
        -->
        <a href="https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json" class="link-secondary">Note: Link to the dataset resource</a>
    <div>

    </div>


