<h1>Here are the Movies we found!</h1>

<hr>

<div class="d-flex flex-wrap flex-basis: 33%">
    <% for (movie of movies) { %>
            <div class="m-3 border border-warning bg-light rounded-3">
                <div class="p-2">
                    Year: <%= movie.year %>
                </div>

                <div class="p-2">
                    Title: <%= movie.title %>
                </div>
            </div>
    <% } %>
</div>
