<h1>The movies are</h1>
Here we want a ul list with the title, year, cast, genres
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>title</th>
            <th>year #</th>
        </tr>
    </thead>
    <tbody>
    <% for (movie of movies) {
        const title = movie['title'];
        const year = movie['year'];
         %>
      <tr class="mb-2"> 
        <td>
            <th>test</th>
            <%=  movie['year'] %>
            <%=  movie['title'] %>
            <br>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(movies,null,5) %> 
    -->
</pre>